In [1]:
import statsmodels as sm 
import seaborn as sns

Modules (sometimes called packages or libraries) help group together related sets of tools in Python. In this exercise, we'll examine two modules that are frequently used by Data Scientists

matplotlib (it's used to plot the data)

pandas (it's used to read data from a file)

scikit-learn (it's used for machine learning)

scipy (it's used for statistics)

nltk (it's used for text data)

statsmodels ( it's used in machine learning usually aliased as sm)

seaborn (it's a visualization library usually aliased as sns)

numpy (it's used to perform mathematical operations on lists of data usually aliased as np)

In [2]:
import pandas as pd

# Load the 'ransom.csv' into a DataFrame
df = pd.read_csv("ransom.csv")
# Display DataFrame
print(df)

    letter_index letter  frequency
0              1      A       7.38
1              2      B       1.09
2              3      C       2.46
3              4      D       4.10
4              5      E      12.84
5              6      F       1.37
6              7      G       1.09
7              8      H       3.55
8              9      I       7.65
9             10      J       0.00
10            11      K       3.01
11            12      L       3.28
12            13      M       2.46
13            14      N       7.38
14            15      O       6.83
15            16      P       7.65
16            17      Q       0.00
17            18      R       4.92
18            19      S       4.10
19            20      T       6.28
20            21      U       4.37
21            22      V       1.09
22            23      W       2.46
23            24      X       0.00
24            25      Y       4.64
25            26      Z       0.00

In [3]:
df.head()

   letter_index letter  frequency
0             1      A       7.38
1             2      B       1.09
2             3      C       2.46
3             4      D       4.10
4             5      E      12.84

In [4]:
df.tail()

    letter_index letter  frequency
21            22      V       1.09
22            23      W       2.46
23            24      X       0.00
24            25      Y       4.64
25            26      Z       0.00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   letter_index  26 non-null     int64
 1   letter        26 non-null     object
 2   frequency     26 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 752.0+ bytes

In [13]:
plt.plot(df['letter'], df['frequency'])

NameError: name 'plt' is not defined

# SELECTING COLUMNS

## SELECTING WITH BRACKETS AND STRING

In [15]:
frequency=df['frequency']
print(frequency)

0      7.38
1      1.09
2      2.46
3      4.10
4     12.84
5      1.37
6      1.09
7      3.55
8      7.65
9      0.00
10     3.01
11     3.28
12     2.46
13     7.38
14     6.83
15     7.65
16     0.00
17     4.92
18     4.10
19     6.28
20     4.37
21     1.09
22     2.46
23     0.00
24     4.64
25     0.00
Name: frequency, dtype: float64

## SELECTING WITH DOT NOTATION

In [16]:
letter=df.letter
print(letter)

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
16    Q
17    R
18    S
19    T
20    U
21    V
22    W
23    X
24    Y
25    Z
Name: letter, dtype: object

### SUGGESTIONS

- Use brackets and string for column names with spaces or special characters (-, ?, etc)
 for example 
 
 police_report['Is Golden Retriever?']

In [17]:
df[df.frequency > 2]

    letter_index letter  frequency
0              1      A       7.38
2              3      C       2.46
3              4      D       4.10
4              5      E      12.84
7              8      H       3.55
8              9      I       7.65
10            11      K       3.01
11            12      L       3.28
12            13      M       2.46
13            14      N       7.38
14            15      O       6.83
15            16      P       7.65
17            18      R       4.92
18            19      S       4.10
19            20      T       6.28
20            21      U       4.37
22            23      W       2.46
24            25      Y       4.64

In [18]:
df[df.frequency == 4.10]

    letter_index letter  frequency
3              4      D        4.1
18            19      S        4.1