In [1]:
import pandas as pd

In [5]:
data=pd.read_csv('NDHUB.EarthquakeLocations_14.csv')

In [6]:
data.head()

,OBJECTID,LONGITUDE,LATITUDE,EVENTDATE,MAGNITUDE,INTENSITY,DEPTH,AREA,YEAR_OCCURRED
0,641,-103.600,48.200,19150808,3.7,IV,U,Williston,1915
1,642,-102.100,46.900,19270430,3.2,III,U,Hebron,1927
2,643,-103.700,48.200,19461026,3.7,IV,U,Williston,1946
3,644,-100.900,46.000,19470514,3.7,IV,U,Selfridge,1947
4,645,-100.742,46.588,19680708,4.4,IV,20.5 (33),Huff,1968